doctype html
html
	head
		title= title
		link(href="https://unpkg.com/vuetify/dist/vuetify.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js" defer)
		script(src="/javascripts/bundle.js" defer)
	body
		block content
