@import "bulma/bulma"

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #3FE4B4
.eventlist-event:hover
	background: #3FE4B4
.eventlist-event
	padding: 5px 5px 5px 10px
	border-radius: 5px
	box-shadow: 0px 0px 1px grey
	margin-top: 10px
	transition-duration: 0.3s
	cursor: pointer
.eventlist-img img
	height: 40px
	width: 40px
	display: relative
	top: 3px
	border-radius: 100%
.eventlist-name, .eventlist-date, .eventlist-img, .eventlist-rating
	text-align: center
	display: inline-block
.eventlist-name, .eventlist-date
	position: relative
	top: 12px
.eventslist-gamename
	font-size: 16px
.eventlist-rating
	font-size: 12px
	position: relative
	top: 5px
.eventlist-rating div
	background: #EF4514
	border-radius: 100%
	color: white
	width: 32px
	height: 32px
	margin: auto
.eventlist-rating div span
	position: relative
	top: 8px
.eventslist-gamename
	text-align: center
	margin: auto
	margin-top: 30px
	margin-bottom: 10px
.navbar
	box-shadow: 0px 0px 1px grey
#navbar-addevent
	text-align: center
	float: right
#apptitle
	font-size: 20px
	padding-top: 15px
	color: #4F545C
	cursor: pointer
.sidebar
	border-radius: 5px
	box-shadow: 0px 0px 1px grey
	margin-top: 10px
	padding: 5px 10px 5px 10px
.sidebartitle
	font-size: 16px
	text-align: center
	padding-bottom: 10px
#sidebarsblock
	padding-top: 40px
.topeventslist div
	display: inline-block
	cursor: pointer
.topeventlist-rating
	font-size: 8px
	float: right
.topeventlist-rating div
	background: #EF4514
	border-radius: 100%
	color: white
	width: 20px
	height: 20px
	margin: auto
	text-align: center
.topeventlist-rating div span
	position: relative
	top: 4.5px
.topevent
	border-bottom: 1px solid #C9CBCB
	transition-duration: 0.3s
.topevent:hover
	background: #3FE4B4
	color: white
	border-radius: 5px
.topeventslist div:last-child
	border: none
.event
	padding: 5px 5px 5px 10px
	border-radius: 5px
	box-shadow: 0px 0px 1px grey
	margin-top: 40px
	transition-duration: 0.3s
.eventheader
	text-align: center
	font-size: 18px
	padding-top: 10px
.eventbodyleft
	padding-top: 50px
.eventbodyleft div
	padding: 3px 30px
	font-size: 16px
.eventbodydescription
	padding: 10px 10px 20px 30px
.eventbodyimg
	max-height: 100px
	//float: right
	margin-top: 15px
	border-radius: 100%
.commentsheader
	font-size: 16px
	text-align: center
	margin-bottom: 30px
.comments
	padding: 15px 5px 5px 10px
	border-radius: 5px
	box-shadow: 0px 0px 1px grey
	margin-top: 40px
	padding-bottom: 20px
	transition-duration: 0.3s
	margin-bottom: 50px
.comment
	padding: 10px 5px 10px 10px
	border-radius: 5px
	box-shadow: 0px 0px 1px #C0C0C3
	transition-duration: 0.3s
	margin-bottom: 12px
.commentuser
	font-weight: 800
.commentinput
	padding-right: 40px
.commentinput *
	margin: 5px
.addnewcomment
	text-align: center
	color: #737477
	margin-top: 20px
	margin-bottom: 15px
.addrating

.addeventblock
	padding: 15px 5px 5px 10px
	border-radius: 5px
	box-shadow: 0px 0px 1px grey
	margin-top: 40px
	padding-bottom: 20px
	transition-duration: 0.3s
	margin-bottom: 50px
.addeventheader
	text-align: center
	margin-bottom: 15px
	font-size: 18px
.label
	font-weight: normal
	font-size: 14px
.nocomments
	color: #AEB1B6
	text-align: center
	margin-top: 40px
	margin-bottom: 40px
.fbbutton
.eventimgbox
	text-align: center
	padding-top: 10px
.fbbox
	text-align: center
	padding-top: 5px
.eventslist-img-tag
	width: 32px
	height: 32px
.noitems
	margin-top: 100px
	text-align: center
